<h1>New RSS Feed</h1>

<%= error_messages_for :feed %>

<% form_for(@feed, :url => {:action => :create}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', feeds_path %>
